.idea/
*.iml
**/target

doc/development.txt
LICENSE_PLACEHOLDER
Pipeline.CI.Jenkinsfile
Pipeline.DeployGitHub.Jenkinsfile
Pipeline.InternalRelease.Jenkinsfile
Pipeline.PublishToMavenCentral.Jenkinsfile

