.idea/
*.iml
**/target
/doc/api-docs.json
/doc/swagger.*
/doc/*.svg


doc/development.txt
LICENSE_PLACEHOLDER
Pipeline.CI.Jenkinsfile
Pipeline.DeployGitHub.Jenkinsfile
Pipeline.InternalRelease.Jenkinsfile
Pipeline.PublishToMavenCentral.Jenkinsfile

