.idea/
*.iml
**/target
/doc/api-docs.json
/doc/swagger.*
/doc/*.svg


Jenkinsfile-MR-CI-SNAPSHOT
Jenkinsfile_DeployGitHub
Jenkinsfile_InternalRelease
Jenkinsfile_PublishToMavenCentral
doc/development.txt
releaseLog.md

